<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hicc">
    <link rel="stylesheet" type="text/css" href="ccs/practica.ccs">

    <title>Practica HTML</title>
</head>
<body><center><h1>Practica html</h1></center>
<header>
    <sup><h1>Este es el titulo principal de mi paguina web</h1></sup>
</header>

<nav>
    <ul>
        <a href="2.html"></h></hre><li>ir al documento dos</li></a>
        <li>Video</li>
        <li>Contacto</li>
    </ul>

</nav>
<section>
    <article>
        <pre><p style="font-size: 300%">font size 300%</p>
        <p style="color: red">font-colore red</p>
        <br><p>salto de linea Hóla</p><br><p>aqui</p>
        <center><p>Centrar</p></center>

            <p>Dirección a edificio “Mega Mariche” soporte técnico</p>


            <p><u>palabra subraya</u></p>
        <p><blink>Hols</blink></p></pre>
        <sub style="font-size: 150%">soy indice 1</sub>
        <sup style="font-size: 150%">soy indice 2</sup>
        <sub style="font-size: 150%">soy indice 3</sub>
        <sup style="font-size: 150%">soy indice 4</sup>
        <h1>lista ul/ li</h1>
        <ul><h1>Meses lista desordenaas </h1>
            <li>enero</li>
            <li>frebrero</li>
            <li>marzo</li>
        </ul>
        <ol><h1>lista ordenada</h1>
            <li>abriel</li>
            <li>mayo</li>
            <li>junio</li>
        </ol>
        <h1>listas encabezadas</h1>

        <ul>
            <h1>desordenada</h1>
            <li>uno</li>
            <ol>
                <h1>ordenada</h1>
                <li>dos</li>
            </ol>

        </ul>


    </article>
</section>
<aside>

</aside>
<footer>
    <p><i>Italico</i></p>
    <b><p>negrilla .</p></b>
</footer>
</body>
</html>