{% extends 'base/base.html'%}
{%load static%}
{% block title %}
HICC Soporte SSAS
{% endblock %}
{%block content%}
<div class="container">        
<div class="col-xs-12">
<h1 class="text-center text-muted table-bordered">Busqueda  Fallidas</h1>
	<code>
	<p class="text-center code">Es posible que los datos que intenta Buscar pueden estar erroneo o(Serial)Invalidao</p></code><br>
	<a href="/registro/ %}" class="text-left btn btn-danger btn-block">Regresar</a></a>






{% endblock%}
</body>
</html>


