{% extends 'base/base.html'%}
{%load static%}

{% block title %}
formulario de registro de maquina
{% endblock %}
{% load bootstrap %} <!--https://github.com/tzangms/django-bootstrap-form  -->
{%block content%}



    <style type="text/css">
       
         
       
    </style> 

<div class="container">
    
    <div class="row">
        <div class="col-xs-6 col-xs-push-3 col-xs-pull-3 table-responsive ">
            


        <seccion>
            <article class="">
                <div class="form text-primary well">
                <div class="text-center table" style="border: 1px;"><legend><pre><h4 class="text-muted">Registro de equipos Biometricos Hicc</h4></pre></legend></div>

                <div class="form-group control-label">
                    <form method="POST" class="form-horizontal">{% csrf_token %}
                      <!--  {{form.as_p}}-->
                        {{ form|bootstrap_horizontal }}
                        <button type="submit" class="btn btn-sm btn-block btn-danger form-control" style="font-size:25px;border-radius: 20px;">Registrar<span class="glyphicon icon-save "><!--</span> <div class="input-group-addon">(**,)</div>--></button>
                    </form>
                </div>


                </div>
            </article>
        </seccion>




    </div>

    </div>

    
        
<!--<a href="{%url 'home' %}"><h2 style="color: #002145">Inicio</h2></a>-->
</div>




{% endblock %}