{% extends 'base/base.html'%}
{%load static%}
{%load bootstrap%}
{% block title %}
HICC Soporte SSAS
{% endblock %}


{%block content%}

<div class="container">
<div class="row">

<div class="form-group well">
<legend><h1 class="text-center text-muted">Registro de nuevo usuario</h1></legend>
	<em><form method="post">
	    {% csrf_token %}
	    {{ form|bootstrap_horizontal}}
	    <input type="submit" value="Registrarse" class="btn btn-dange reg btn-block">

	</form></em>
</div>
</div>


</div>
{%endblock%}